* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #16243d;
  --dark-link-color: #97a2b7;
  --blue: #015fc9;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  font-size: 13px;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 13px;
  padding: 10px 0;
  color: var(--dark-link-color);
}

header li {
  margin-right: 30px;
}

header ul {
  margin-bottom: 0 !important;
}

.header-icon {
  color: var(--blue);
  padding-right: 10px;
}

.social-icon {
  font-size: 15px;
  color: #ffffff;
}

.navbar {
  margin-top: 20px;
}

.navbar-nav {
  background-color: #f2f5f9;
  border-radius: 8px 0 0 8px;
}
.nav-link {
  padding: 11px 20px !important;
}

.logo {
  margin-right: 45px;
}

.quote {
  color: #fff !important;
  border-radius: 0 8px 8px 0 !important;
}

.phone-icon {
  color: #0ce0ff;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid #97a2b7;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  margin-right: 10px;
}

.phone {
  color: #16243d;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

/* -------------------------carousel------------------- */

.carousel {
  height: 680px !important;
  background-color: rebeccapurple;
}
.carousel-item {
}
